<main id="main">
	<div class="main_typing">
		<div class="main_typing_sentence-wrapper">
			<p class="main_typing_sentence"><%= locals.sentencesRow.sentence %></p>
		</div>
		<div class="main_typing_input-wrapper">
			<input type="text" id="main_typing_input" class="typebattle_input-text" name="sentence" autocomplete="off" autofocus="true" placeholder="<%= locals.sentencesRow.sentence %>">
		</div>
	</div>
</main>