<main id="main">
	<div class="main_login-wrapper">
		<div class="main_login">
			<form action="/" method="get" accept-charset="utf-8">
				<div class="main_login_input-wrapper">
					<label class="main_login_input-label" for="studentName">이름</label>
					<input type="text" id="main_login_input-studentName" class="typebattle_input-text main_login_input main_login_input-text" name="studentName" maxlength="4" autocomplete="off", autofocus="true">
				</div>
				<div class="main_login_input-wrapper">
					<label class="main_login_input-label" for="studentNumber">학번</label>
					<input type="number" id="main_login_input-studentNumber" class="typebattle_input-text main_login_input main_login_input-text" name="studentNumber" maxlength="5" autocomplete="off">
				</div>
				<div class="main_login_input-wrapper">
					<input type="submit" id="main_login_input-start" class="typebattle_input-button main_login_input main_login_input-submit" value="시작">
				</div>
			</form>
		</div>
	</div>
</main>